@import "../base/variables";
@import "../base/extends";
@import "../base/listas";
@import "../base/operadores";

.imagen-fondo{
    width: 100%;
    height: 125vh;
    background-color: $bg-main;
    display: inline-block;
    h1{
        text-align: center;
        letter-spacing: 1px;
        color: nth($colores-fuentes, 1);
        font-size: $tamaño-titulo *1;
        text-decoration: underline;
        background-color: $bg-main;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 2rem;
    
    }
    .lista-especialidades{
        text-align: center;
        font-size: 1em;
        color: nth($colores-fuentes, 1);
        list-style: none;
        
    }
    
    @media only screen and (min-width: 427px) and (max-width: 960px) {
        height: 130vh;
        display: inline-block;
       
         h1{
             font-size: 1.4em;
         }
        .lista-especialidades{
            font-size: 1em;
        }
    }
    @media only screen and (max-width: 427px) {
        height: 100vh;
        display: inline-block;
        
        h1{
            font-size: 1em;
        }
        .lista-especialidades{
            font-size: 0.7em;
        }
    }
}









