@import "../base/variables";
@import "../base/extends";
@import "../base/listas";
@import "../base/operadores";

.imagen-fondo{
    width: 100%;
    background-color: $bg-main;
    display: inline-block;
    .h3-especialidades{
        text-align: center;
        letter-spacing: 1px;
        color: nth($colores-fuentes, 1);
        font-size: $tamaño-titulo *1;
        text-decoration: underline;
        background-color: $bg-main;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 2rem;
    
    }
    .lista-especialidades{
        text-align: center;
        font-size: 120%;
        color: nth($colores-fuentes, 1);
        list-style: none;
        
    }
    @media only screen and (max-width: 400px) {
        .h3-especialidades{
            font-size: 90%;
        }
        .lista-especialidades{
            font-size: 70%;
        }
    }
    @media only screen and (min-width: 401px) and (max-width: 960px){
        .h3-especialidades{
            font-size: 120%;
        }
        .lista-especialidades{
            font-size: 65%;
        }
    }
}









