%h3{
    letter-spacing: 1px;
    color: gray;
    font-size: 45px;
    text-decoration: underline;
    background-color: $bg-main;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 2rem;
}
%img-noticias{
    width: 100%;
    height: auto;
    border: khaki 1px solid;
}
%texto-noticias{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            font-size: 120%;
}